.main-container {
    background: white;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    
  }
  
  .main-table{
    width:100%;
    margin-left:auto;
    margin-right:auto;

  }
  
  .table-row td{
    border-top: 1px solid #dddddd;
    padding-top:10px;
    padding-bottom:10px;
  }