@use '../_index.scss' as i;

fieldset {
  border: none;
  margin: 0; 
  padding: 0; 
  min-inline-size: unset; 
}

label{
@extend .fw-semibold;

// @media screen and (min-width:i.$md) {
//   display:block;
// }
}

/* 기존 select 기본 스타일 */
select
 {
  @extend .fs-6;
  @extend .fw-normal;
  margin-top: 2px;
  margin-bottom: 3px;
  width: 190px;
  height: 45px;
  border: none;
  background-color: i.$메인그레이;
  color: i.$메인블랙;
  text-align: center;
  border-radius: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 10px;
  cursor: pointer;
}

/* Firefox의 내부 포커스 border 제거 */
select::-moz-focus-inner {
  border: 0;
}
  
  /* select hover 시 배경색 변경 */
select:hover {
    background-color: i.$메인진한그레이;
  }

  .row .item{
    display:flex;
    flex-direction: column;

  }

  .item input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid rgba(0,0,0,.2);
    background-color: #ffffff;
    padding:10px;
    cursor: pointer;
    transition: all .2s;
    width:30px;
    height:30px;
    position:relative;

    &:hover{
      border-color : i.$메인블루;
      background-color:#c1dafc ;
    }

    &:focus{
      outline: none;
    }

    &:checked{
      border-color : i.$메인블루;
    background-color:i.$메인블루;
  
    }

    &:checked::after{
      content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    width: 6px;    // 체크 표시의 너비 (필요에 따라 조정)
    height: 12px;  // 체크 표시의 높이 (필요에 따라 조정)
    border: 1px solid white;   // 체크 표시 색상: 흰색
    border-width: 0 3px 3px 0;  // 오른쪽과 아래쪽에만 두께 적용
    transform: translate(-50%, -60%) rotate(45deg);  // 중앙 정렬 및 45도 회전하여 체크 모양 구현
    }

    &:focus:not(:checked) {
      border-color: rgba(0, 0, 0, 0.2);
    }
  }



  .item #sorting{
    width:200px;
    height:45px;

    @media screen and (min-width:i.$xl) {
      width: 100px;
    }
  }