@charset "UTF-8";
html {
  font-size: 16px;
}

div, input, nav {
  box-sizing: border-box;
}

/*변수 저장소*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row .col-1 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
.row .col-2 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
.row .col-3 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.row .col-4 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
.row .col-5 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
.row .col-6 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.row .col-7 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
.row .col-8 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
.row .col-9 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.row .col-10 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
.row .col-11 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
.row .col-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 0px) {
  .row .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.row .col-md-1 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
.row .col-md-2 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
.row .col-md-3 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.row .col-md-4 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
.row .col-md-5 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
.row .col-md-6 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.row .col-md-7 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
.row .col-md-8 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
.row .col-md-9 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.row .col-md-10 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
.row .col-md-11 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
.row .col-md-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .row .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.row .col-xl-1 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
.row .col-xl-2 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
.row .col-xl-3 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.row .col-xl-4 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
.row .col-xl-5 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
.row .col-xl-6 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.row .col-xl-7 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
.row .col-xl-8 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
.row .col-xl-9 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.row .col-xl-10 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
.row .col-xl-11 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
.row .col-xl-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .row .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.row .col-xxl-1 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
.row .col-xxl-2 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
.row .col-xxl-3 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.row .col-xxl-4 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
.row .col-xxl-5 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
.row .col-xxl-6 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.row .col-xxl-7 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
.row .col-xxl-8 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
.row .col-xxl-9 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.row .col-xxl-10 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
.row .col-xxl-11 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
.row .col-xxl-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .row .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.btn-xl, .btn-lg, .btn-md {
  padding: 6px 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: "Pretendard", sans-serif;
  cursor: pointer;
}

.btn-lg {
  padding: 10px 20px;
}

.btn-xl {
  font-size: 20px;
  padding: 12px 12px;
}

.bg-blue {
  background-color: #3182F6;
  color: white;
  transition: 0.2s background-color;
}
.bg-blue:hover {
  background-color: #2c75dd;
}

.bg-grey {
  background-color: #f2f4f6;
  color: #1c1e21;
  transition: 0.2s background-color;
}
.bg-grey:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.blue {
  color: #3182F6;
}

.red {
  color: #f04452;
}

.fs-1 {
  font-size: 2.5rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 1.75rem;
}

.fs-4 {
  font-size: 1.5rem;
}

.fs-5 {
  font-size: 1.25rem;
}

.fs-6, select {
  font-size: 1rem;
}

.fw-bold {
  font-weight: 700;
}

.fw-semibold, label {
  font-weight: 600;
}

.fw-normal, select {
  font-weight: 500;
}

.fw-light {
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  color: #1c1e21;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-inline-size: unset;
}

/* 기존 select 기본 스타일 */
select {
  margin-top: 2px;
  margin-bottom: 3px;
  width: 190px;
  height: 45px;
  border: none;
  background-color: #f2f4f6;
  color: #1c1e21;
  text-align: center;
  border-radius: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 10px;
  cursor: pointer;
}

/* Firefox의 내부 포커스 border 제거 */
select::-moz-focus-inner {
  border: 0;
}

/* select hover 시 배경색 변경 */
select:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.row .item {
  display: flex;
  flex-direction: column;
}

.item input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  width: 30px;
  height: 30px;
  position: relative;
}
.item input[type=checkbox]:hover {
  border-color: #3182F6;
  background-color: #c1dafc;
}
.item input[type=checkbox]:focus {
  outline: none;
}
.item input[type=checkbox]:checked {
  border-color: #3182F6;
  background-color: #3182F6;
}
.item input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 6px;
  height: 12px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}
.item input[type=checkbox]:focus:not(:checked) {
  border-color: rgba(0, 0, 0, 0.2);
}

.item #sorting {
  width: 200px;
  height: 45px;
}
@media screen and (min-width: 1200px) {
  .item #sorting {
    width: 100px;
  }
}/*# sourceMappingURL=FilterBar.css.map */