/* App.scss */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
}

div{
  box-sizing:border-box;
}

.nav-background{
  width:100%;
  height:50px;
  background-color: black;
  position:fixed;
  top:0;
  left:0;
  z-index:999;
}
/* nav-container 클래스로도 스타일 가능 */
.nav-container {
  /* 여유 높이 및 flex로 정렬 */
  
  display: flex;
  align-items: center;
  width:100%;
  height:100%;
  padding: 0 30px;
  margin-left:auto;
  margin-right:auto;
}

.nav-item {
  margin: 5px;
  color:#9d9d9d;
}

.main-background{
  background-color:#f2f2f2;
}
.main-container {
  margin-top: 50px; /* nav-background의 height와 동일 */
  padding: 1rem;
}

@media screen and (min-width:768px){
  .nav-container,.main-container{
    width:750px;
    padding: 0 15px;

  }
}

@media screen and (min-width:992px){
  .nav-container,.main-container{
    width:970px;
    padding: 0 15px;
  }
}
@media screen and (min-width:1200px){
  .nav-container,.main-container{
    width:1170px;
    padding: 0 15px;
  }
}



